spring:

  datasource:
    url: jdbc:mysql://localhost:3306/antonio_prova
    username:
    password:

  jpa:
    database: mysql
    show_sql: true
    hibernate:
      ddl-auto: create-drop

